
/*Module*/
h2{margin: 0!important;}
body {font-family: Arial, Helvetica, sans-serif;background: linear-gradient(black, #220202);margin: 0;padding: 0;background-attachment: fixed;} /*modification général sur toutes les pages du site*/
.container {margin: auto;padding-top: 70px;min-height: 53em;width: 1370px;}

.box {width: 75%;margin: auto;padding: 50px 28px;background-color: white;} /*Ajoute un fond blanc avec les bord arrondie */

form div+div {margin-top: 0!important;}

.Bouton_Menu {
    padding: 7px 17px;
    border-radius: 3px;
    background: #e50914;
    border: 0;
    color: white;
}

.Bouton_Menu a {
    text-decoration: none;
    color: white;
}

.Bouton_Recherche {
    padding: 7px 17px;
    border-radius: 0 3px 3px 0;
    background: #e50914;
    border: 0;
    height: 18px;
    margin-left: 0 !important;
}

.Bouton_Recherche img {
    height: 18px;
}


.Barre_Recherche input {
    padding: 7px 17px;
    border: 1px solid #b7b7b7;
    border-right-width: 0;
    border-radius: 3px 0 0 3px;
    background: rgba(252, 252, 252, 1);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    display: inline-block;
    height: 32px;
}

/* CSS Header*/
.Head {
    z-index: 999;
    display: flex;
    max-height: 98px;
    position: fixed;
    width: 100%;
}

.test {
    width: 10000px;
    display: block;
}

.Head .Bouton {
    height: 60px;
    display: flex;
}

.Head .Bouton ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    margin: auto 0;
    margin-left: auto;
    margin-right: 25%;
}

.Head .Bouton li {
    float: right;
    margin-left: 10px;
}


.Head .HorsLogo {
    background-color: #393939;
    width: 75%;
    margin-bottom: 18px;
}

.Head .Logo {
    border-radius: 0 0 20px;
    background-color: #393939;
    width: 25%;
}

.Head .Logo img {
    height: 80%;
    margin: auto;
}

.Head .Logo a {
    float: right;
    margin-right: 20px;
    height: 100%;
    display: flex;
}

.Head .BarreRouge {
    height: 18px;
    border-radius: 20px 0 0;
    background-color: #e50914;
    border-left: 2px solid black;
    border-top: 2px solid black;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.5) inset;
}


/*Page footer*/
.footer .BarreRouge {
    height: 18px;
    border-radius: 0 0 0 20px;
    background-color: #e50914;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 1px -2px 5px 0 rgba(0, 0, 0, 0.5) inset;
}

.footer .BarreVide {
    height: 18px;
    background-color: #393939;
    margin-top: 18px;
}

.footer {
    z-index: 999;
    display: flex;
    margin-top: -18px;
}

.footer .gauche {
    width: 75%;
    z-index: 999;
}

.footer .droite {
    background-color: #393939;
    width: 25%;
    height: 36px;
    border-radius: 0 20px 0 0;
    z-index: 999;
}

.Social {
    width: 45%;
    float: right;
}

.Social img {
    height: 50px;
    margin: 2%;
}

.Info {
    z-index: 999;
    width: 100%;
    background-color: #393939;
    height: max-content;
    display: flex;
    padding-top: 50px;
    padding-bottom: 45px;
    color: grey;
    z-index: 999;
}

.Info hr {
    border: 0;
    height: 1px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 16px;
    background-color: grey;
}

.Info td {
    padding-bottom: 8px;
}

.Info table {
    border-left: 1px solid grey;
    margin-left: 15%;
}

.Info th {
    text-align: left;
}

.Info div {
    width: 80%;
    display: flex;
    margin: auto;
}

.Info .Logo {
    display: block;
}

.Info .Logo a {
    float: right;
}

.Info a {
    text-decoration: none;
    color: grey;
}

.Info a:hover {
    text-decoration: underline;
}

/*Page accueil*/
section.PageAccueil .film {display: inline-block;margin-top: 50px;position: relative; width: 300px;height: 399px;} /*inline block va aligner les image, tandis que la position relative nous permetra de faire une superposition du texte sur l'image */
section.PageAccueil div:not(:nth-child(4n+4)) {margin-right: 52px;} /*met une séparation sur les image de chaque ligne*/
section.PageAccueil img {width: inherit;height: inherit;text-align: center;position: absolute;z-index: 1;} /*inherit permet d'heriter la valeur du parent et z-index 1 permet de toujour afficher l'image devant le texte*/
section.PageAccueil div:hover img {opacity: 0.2; z-index: 0;} /*l'image devenant transparante elle laisse aparaitre le texte caché derriere*/
section.PageAccueil span h1 {height: 56px; width: inherit;;word-wrap: break-word;color: white;text-align: center;} /* affichage titre */
section.PageAccueil span p {color: white;height: 203px;} /* affichage résumé */
section.PageAccueil span h2 {color: white;text-align: right;height: 28px;margin-right: 10px;float:right;} /* affichage prix */
section.PageAccueil span {position: absolute; height: inherit; width: inherit;}
section.PageAccueil span p {overflow: scroll;position: relative;} /*ajoute une scrollbar lorsque le texte deborde*/
section.PageAccueil span p::-webkit-scrollbar {display: none;} /*cache la scrollbar sans la désactivé */ 
section.PageAccueil button {font-size: 1.5em;height: 1.5em;width: 1.5em;text-align: center;padding: 0;line-height: 0;} /*Bouton ajout au panier */
section.PageAccueil div.boutonprix {margin-top: 0!important ;min-height: 10em;display: table-cell;vertical-align: middle; width: inherit;}

/*Page Contact*/
section.PageContact div h1 {text-align: center;}
section.PageContact div ul img {height: 100px;}
section.PageContact div ul {list-style-type: none;margin: 0;overflow: hidden;padding: 5px 0 5px 0;margin: auto; width: 640px;}
section.PageContact ul li{float: left;}
section.PageContact div.fl {float: left;}
section.PageContact div:nth-child(4) {margin-left: 90px;}

/*Page Connexion*/
section.PageConnexion li {text-decoration :none;display: block;text-align:center}
section.PageConnexion ul {padding : 0;text-align:center}

/*Page Inscription*/
section.PageInscription .button {width : auto} /* Donne une taille automatique au bouton valider */

/*Page Panier*/





/* je sais plus a quoi sa sert en dessous, faut regarder XD*/
.input {
    -webkit-box-sizing: content-box;
    padding: 10px 20px;
    border-radius: 28px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;

}

form {
    margin: 0 auto;

}

form div+div {
    margin-top: 1em;
}

label {
    display: inline-block;
    margin-left: 25px;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    height: 28px;
    border-radius: 3px
}


input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}




/*A TRANSFERER*/

section.PageInscription label {
    display: block;
}

section.PageInscription label:nth-child(2) {
    font-size: 12px;
    color: red;
    padding-top: 5px;
    display: none;
}
